@charset "UTF-8";
@import url(font.css);
@import url(reset.css);

body {font-family: 'Isamanru'; background: url(../images/bg.png); overflow-x: hidden;}
.centerbox {max-width: 1040px; margin: 0 auto;}

header {background: rgba(25, 25, 21, 0.6); position: absolute; width: 100%; z-index: 1;}
header .centerbox {}
header .topset {display: flex; justify-content: space-between;}
header .topset .langbox { font-size: 18px; gap: 7px; padding: 25px 0; color: #fff;}
header .topset .langbox .langbox_title {display: flex; align-items: center; gap: 5px; position: relative;}
header .topset .langbox .lnb {background: #191915; position: absolute; box-shadow: 4px 6px 60px rgba(0, 0, 0, 0.1); opacity: 0; visibility: hidden; transition: 0.3s; margin-left: 30px; margin-top: 5px;}
header .topset .langbox .lnb li {}
header .topset .langbox .lnb li a {padding: 12px 17px; font-size: 14px;}
header .topset .langbox .lnb::before {content: ''; position: absolute; width: 0; height: 4px; background: #d35827;  transition: 0.3s;}
header .topset .langbox:hover .lnb {opacity: 1; visibility: visible;}
header .topset .langbox:hover .lnb::before {width: 100%;}
header .topset .langbox .lnb li:hover {background: #d35827;}


header .topset h1 {}
header .topset h1 a {}
header .topset h1 a img {}
header .loginbox {display: flex; justify-content: space-between; padding: 25px 0; }
header .loginbox .login {background: url(../images/login_bg.png); background-repeat: no-repeat; display: flex; justify-content: center;}
header .loginbox a {width: 100px; text-align: center; color: #fff; font-size: 18px;}
header nav {}
header nav .gnb {display: flex; justify-content: space-between; margin-top: 50px;}
header nav .gnb > li {font-size: 20px; font-weight: 300; flex-grow: 1; transition: 0.3s; position: relative;}
header nav .gnb > li > a {color: #fff; padding: 15px 35px;  display: flex; justify-content: center; transition: 0.3s;}

/* header nav .gnb > li:hover {border-bottom: 4px solid #D35827;} */

header nav .gnb .lnb {background: #191915; position: absolute; display: flex; box-shadow: 4px 6px 60px rgba(0, 0, 0, 0.1); left: 0; width: 150%; opacity: 0; transition: 0.3s; visibility: hidden; top: 90%;}
header nav .gnb .lnb::after {content: ''; position: absolute; width: 0; height: 4px; background: #d35827; left: 0; transition: 0.3s;}
header nav .gnb .lnb ul {}
header nav .gnb .lnb ul li {font-size: 16px;}
/* header nav .gnb .lnb ul li::after {content: ''; right: 0; height: 2px; background: #d35827; position: absolute; transition: 0.3s;} */
header nav .gnb .lnb figure {display: flex; align-items: center; justify-content: center; flex-grow: 1;}
.lnb li a {color: #fff; display: flex; padding: 20px 10px;}

header nav .gnb > li:hover > a {scale: 1.1; }
header nav .gnb li:hover .lnb::after {width: 100%;}
header nav .gnb li:hover .lnb {opacity: 1; visibility: visible; left: 0;}
header nav .gnb .lnb ul li:hover {background: #d35827;}
/* header nav .gnb .lnb ul li:hover::after {width: 45%;} */


.hero {height: 995px; position: relative; z-index: 0;}
.hero img {}

.hero .arrow_box {position: absolute; width: 100%; top: 50%; z-index: 3;}
.hero .arrow_box div {position: absolute; width: 50px;  height: 50px; transform: translate(0, 50%); cursor: pointer; margin: 0 20px;}
.hero .arrow_box .btn_next {right: 0; background: blue;}
.hero .arrow_box .btn_prev {left: 0; background: red;}

.hero ul {width: 200%; display: flex; height: 100%; transition: 0.5s;}
.hero ul li {width: 100%; height: 100%;}
.hero ul li img {width: 100%; height: 100%; object-fit: cover;}

.hero .btn {background: url(../images/hero-btn.png); display: block; background-repeat: no-repeat; width: 327px; height: 50px; text-align: center; line-height: 50px; color: #fff; position: absolute; top: 70%; left: 50%; transform: translateX(-50%); padding: 0 15px;}
.sectionbox {}
.sectionbox .section1 {max-width: 1195px; padding-top: 180px; position: relative; margin: 0 auto;}
.sectionbox .section1 .arrow {position: absolute; width: 100%; top: 50%;}
.sectionbox .section1 .arrow div {position: absolute; width: 50px; height: 42px; transform: translate(0, 50%); cursor: pointer;}
.sectionbox .section1 .arrow .btn_be {left: 0;}
.sectionbox .section1 .arrow .btn_af {right: 0;}
.sectionbox h3 {font-size: 30px; color: #fff; display: flex; justify-content: center; font-weight: normal; margin-bottom: 60px;}
.sectionbox .section1 ul {display: flex; justify-content: center; gap: 30px;}
.sectionbox .section1 ul li {}
.sectionbox .section1 ul li a {display: flex; flex-direction: column; gap: 15px;}
.sectionbox .section1 ul li figure {}
.sectionbox .section1 ul li .textbox {display: flex; flex-direction: column; gap: 15px;}
.sectionbox .section1 ul li p {color: #fff; font-size: 20px; font-weight: 300;}
.sectionbox .section1 ul li .subject {font-size: 25px; color: #d35827; font-weight: 300;}
.sectionbox .section1 ul li .content {font-size: 18px; color: #E4E2DD; font-family: 'Presentation'; font-weight: 100; width: 327px;}


.sectionbox .section2 {}
.sectionbox .section2 .centerbox {padding: 240px 0;}
.sectionbox .section2 ul {display: grid; grid-template-columns: repeat(3,1fr); width: 100%; gap: 60px 30px;}
.sectionbox .section2 ul li {position: relative; overflow: hidden; width: 100%; transition: 0.5s;}
.sectionbox .section2 ul li .frame {position: relative; display: block; z-index: 3;}
.sectionbox .section2 ul li .bg {position: absolute; width: 90%; height: 85%; top: 50%; left: 50%; transform: translate(-47%, -51%); object-fit: cover; z-index: 1;}
.sectionbox .section2 ul li .textbox {position: absolute; top: 50%; left: 50%; transform: translate(-48%, -50%); width: 90%; height: 90%; object-fit: cover; color: #fff; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 15px; z-index: 4; padding: 0 12px; box-sizing: border-box;}
.sectionbox .section2 ul li .textbox strong {font-size: 20px; font-weight: 300; text-shadow: 0 0 6px rgba(234, 142, 105, 0.5);}
.sectionbox .section2 ul li .textbox p {font-size: 15px; font-weight: 300; font-family: 'Presentation';}
.sectionbox .section2 ul li .icon {position: absolute; top: 80%; right: 32%; z-index: 5;}
.sectionbox .section2 ul li:nth-child(2), .sectionbox .section2 ul li:nth-child(5) {transform: translateY(40px);}

.sectionbox .section2 .hover {position: absolute; z-index: 0; top: 50%; left: 50%; transform: translate(-45%, -45%); width: 100%; height: 100%; visibility: hidden; opacity: 0; transition: 0.5s;}
.sectionbox .section2 ul li:hover .hover {opacity: 1; visibility: visible;}
.sectionbox .section2 ul li:hover {scale: 1.1;}





footer {height: 336px; background: rgba(25, 25, 21, 0.6)}